Service References/AfectacionCaja/CAPAfectaCajaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CAPAfectaCajaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CAPAfectaCajaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjetoAfectacionCaja">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aplicacion" nillable="true" type="xs:string" />
      <xs:element name="Concepto" type="xs:int" />
      <xs:element name="Divisa" type="xs:int" />
      <xs:element name="Empleado" nillable="true" type="xs:string" />
      <xs:element name="Importe" type="xs:decimal" />
      <xs:element name="ImporteEfectivo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Pedido" type="xs:int" />
      <xs:element minOccurs="0" name="Presupuesto" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      <xs:element name="TipoAfectacion" type="xs:int" />
      <xs:element name="TipoMovimiento" type="xs:int" />
      <xs:element name="Top" type="xs:int" />
      <xs:element minOccurs="0" name="TopEgreso" type="xs:int" />
      <xs:element minOccurs="0" name="TopsAfectacion" nillable="true" type="tns:ArrayOfTopsAfectacion" />
      <xs:element name="Transaccion" type="xs:int" />
      <xs:element name="Ws" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjetoAfectacionCaja" nillable="true" type="tns:ObjetoAfectacionCaja" />
  <xs:complexType name="ArrayOfTopsAfectacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopsAfectacion" nillable="true" type="tns:TopsAfectacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopsAfectacion" nillable="true" type="tns:ArrayOfTopsAfectacion" />
  <xs:complexType name="TopsAfectacion">
    <xs:sequence>
      <xs:element name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiposPago" nillable="true" type="tns:ArrayOfTipoPago" />
      <xs:element name="Top" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopsAfectacion" nillable="true" type="tns:TopsAfectacion" />
  <xs:complexType name="ArrayOfTipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPago" nillable="true" type="tns:TipoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPago" nillable="true" type="tns:ArrayOfTipoPago" />
  <xs:complexType name="TipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTipoPago" type="xs:short" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoPago" nillable="true" type="tns:TipoPago" />
  <xs:complexType name="RespuestaAfectacionCaja">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoError" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaAfectacionCaja" nillable="true" type="tns:RespuestaAfectacionCaja" />
  <xs:complexType name="ListaObjetosCaja">
    <xs:sequence>
      <xs:element name="ObjsAfecCaja" nillable="true" type="tns:ArrayOfObjetoAfectacionCaja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaObjetosCaja" nillable="true" type="tns:ListaObjetosCaja" />
  <xs:complexType name="ArrayOfObjetoAfectacionCaja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjetoAfectacionCaja" nillable="true" type="tns:ObjetoAfectacionCaja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjetoAfectacionCaja" nillable="true" type="tns:ArrayOfObjetoAfectacionCaja" />
  <xs:complexType name="ArrayOfRespuestaAfectacionCaja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RespuestaAfectacionCaja" nillable="true" type="tns:RespuestaAfectacionCaja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRespuestaAfectacionCaja" nillable="true" type="tns:ArrayOfRespuestaAfectacionCaja" />
</xs:schema>