Service References/AfectacionCaja/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CAPAfectaCajaService" />
  <xs:element name="AfectarCaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CAPAfectaCajaService" minOccurs="0" name="objetoCaja" nillable="true" type="q1:ObjetoAfectacionCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AfectarCajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CAPAfectaCajaService" minOccurs="0" name="AfectarCajaResult" nillable="true" type="q2:RespuestaAfectacionCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AfectarCajaMixto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CAPAfectaCajaService" minOccurs="0" name="objetosCaja" nillable="true" type="q3:ListaObjetosCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AfectarCajaMixtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CAPAfectaCajaService" minOccurs="0" name="AfectarCajaMixtoResult" nillable="true" type="q4:ArrayOfRespuestaAfectacionCaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>