Service References/OperacionesCheques/CAPOperacionesCheques.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CAPOperacionesCheques" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://nt0057.dom0057.mex:9002/ADNCaptacion/Kernell/CAPOperacionesCheques.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://nt0057.dom0057.mex:9002/ADNCaptacion/Kernell/CAPOperacionesCheques.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nt0057.dom0057.mex:9002/ADNCaptacion/Kernell/CAPOperacionesCheques.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CAPOperacionesChequesService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICAPOperacionesCheques_RespuestaOperacionesCheques_InputMessage">
    <wsdl:part name="parameters" element="tns:RespuestaOperacionesCheques" />
  </wsdl:message>
  <wsdl:message name="ICAPOperacionesCheques_RespuestaOperacionesCheques_OutputMessage">
    <wsdl:part name="parameters" element="tns:RespuestaOperacionesChequesResponse" />
  </wsdl:message>
  <wsdl:message name="ICAPOperacionesCheques_ConsultaOperacionesCheques_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaOperacionesCheques" />
  </wsdl:message>
  <wsdl:message name="ICAPOperacionesCheques_ConsultaOperacionesCheques_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaOperacionesChequesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICAPOperacionesCheques">
    <wsdl:operation name="RespuestaOperacionesCheques">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAPOperacionesCheques/RespuestaOperacionesCheques" message="tns:ICAPOperacionesCheques_RespuestaOperacionesCheques_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAPOperacionesCheques/RespuestaOperacionesChequesResponse" message="tns:ICAPOperacionesCheques_RespuestaOperacionesCheques_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaOperacionesCheques">
      <wsdl:input wsaw:Action="http://tempuri.org/ICAPOperacionesCheques/ConsultaOperacionesCheques" message="tns:ICAPOperacionesCheques_ConsultaOperacionesCheques_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICAPOperacionesCheques/ConsultaOperacionesChequesResponse" message="tns:ICAPOperacionesCheques_ConsultaOperacionesCheques_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICAPOperacionesCheques" type="tns:ICAPOperacionesCheques">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RespuestaOperacionesCheques">
      <soap:operation soapAction="http://tempuri.org/ICAPOperacionesCheques/RespuestaOperacionesCheques" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaOperacionesCheques">
      <soap:operation soapAction="http://tempuri.org/ICAPOperacionesCheques/ConsultaOperacionesCheques" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CAPOperacionesCheques">
    <wsdl:port name="BasicHttpBinding_ICAPOperacionesCheques" binding="tns:BasicHttpBinding_ICAPOperacionesCheques">
      <soap:address location="http://nt0057.dom0057.mex:9002/ADNCaptacion/Kernell/CAPOperacionesCheques.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>