Service References/OperacionesCheques/CAPOperacionesCheques2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CAPOperacionesChequesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CAPOperacionesChequesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjetoRespuestaCajaCheque">
    <xs:sequence>
      <xs:element name="Aplicacion" nillable="true" type="xs:string" />
      <xs:element name="EstatusExito" type="xs:boolean" />
      <xs:element name="ListaDocumentos" nillable="true" type="tns:ArrayOfDocumento" />
      <xs:element name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjetoRespuestaCajaCheque" nillable="true" type="tns:ObjetoRespuestaCajaCheque" />
  <xs:complexType name="ArrayOfDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumento" nillable="true" type="tns:ArrayOfDocumento" />
  <xs:complexType name="Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="apMat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apPat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caveTran" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codSeg" type="xs:int" />
      <xs:element minOccurs="0" name="digInter" type="xs:short" />
      <xs:element name="importeDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numCta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plaComp" type="xs:int" />
      <xs:element minOccurs="0" name="preMarc" type="xs:int" />
      <xs:element name="tipoPago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documento" nillable="true" type="tns:Documento" />
  <xs:complexType name="RespuestaOperacionCajaCheque">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Respuesta" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaOperacionCajaCheque" nillable="true" type="tns:RespuestaOperacionCajaCheque" />
</xs:schema>