Service References/OperacionesCheques/CAPOperacionesCheques.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nt0057.dom0057.mex:9002/ADNCaptacion/Kernell/CAPOperacionesCheques.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CAPOperacionesChequesService" />
  <xs:element name="RespuestaOperacionesCheques">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CAPOperacionesChequesService" minOccurs="0" name="objetoRespuestaCheques" nillable="true" type="q1:ObjetoRespuestaCajaCheque" />
        <xs:element minOccurs="0" name="IdSesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespuestaOperacionesChequesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CAPOperacionesChequesService" minOccurs="0" name="RespuestaOperacionesChequesResult" nillable="true" type="q2:RespuestaOperacionCajaCheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaOperacionesCheques">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaOperacionesChequesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CAPOperacionesChequesService" minOccurs="0" name="ConsultaOperacionesChequesResult" nillable="true" type="q3:ObjetoRespuestaCajaCheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>